<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

  <Properties>
    <!-- Log format pattern -->
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    <!-- Log fayllari saqlanadigan papka -->
    <Property name="LOG_DIR">logs</Property>
    <Property name="APP_NAME">card-processing</Property>
  </Properties>

  <Appenders>

    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>

    <RollingFile name="FileAppender"
      fileName="${LOG_DIR}/${APP_NAME}.log"
      filePattern="${LOG_DIR}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="10MB"/>
      </Policies>
      <DefaultRolloverStrategy max="30"/>
    </RollingFile>

    <RollingFile name="ErrorFileAppender"
      fileName="${LOG_DIR}/${APP_NAME}-error.log"
      filePattern="${LOG_DIR}/${APP_NAME}-error-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Filters>
        <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="10MB"/>
      </Policies>
      <DefaultRolloverStrategy max="30"/>
    </RollingFile>

  </Appenders>

  <Loggers>

    <Logger name="spring.boot.cardprocessing" level="DEBUG" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
      <AppenderRef ref="ErrorFileAppender"/>
    </Logger>

    <Logger name="org.springframework" level="INFO" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </Logger>

    <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </Logger>

    <Logger name="liquibase" level="INFO" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </Logger>

    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
      <AppenderRef ref="ErrorFileAppender"/>
    </Root>

  </Loggers>

</Configuration>